body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    width:90%;
    margin: auto;
    overflow: hidden;
} 
    

#banner-image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color:#f8f8f8;
    background:  url("img/banner.jpg")no-repeat center;
    background-size: cover;
}
#banner_content{
    position:relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 20%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
}



footer{
    position: fixed;
    padding: 10px 0px;
    background-color: #101010;
    color:#9d9d9d;
    bottom:0;
    width: 100%;
}
.mar{
    margin-top: 90px;
}
.centereddiv{

position: absolute;
width: 650px;
height: 100px;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
